@import 'tailwindcss';

:root {
  color-scheme: light;
  font-family: 'Inter', system-ui, sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #003087;
  --color-dark: #111827;
  --color-dark-1: #1f2937;
  --color-dark-2: #6b7280;
  --color-gray-1: #f3f4f6;
  --color-gray-2: #f9fafb;
  --color-gray-3: #e5e7eb;
}



:host {
  display: block;
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  font-family: ui-sans-serif, system-ui, sans-serif;
  color-scheme: light;
  font-family: 'Inter', system-ui, sans-serif;
  --color-white: #fff;
  --color-black: #000;
  --color-blue: #003087;
  --color-dark: #111827;
  --color-dark-1: #1f2937;
  --color-dark-2: #6b7280;
  --color-gray-1: #f3f4f6;
  --color-gray-2: #f9fafb;
  --color-gray-3: #e5e7eb;
}

:host *,
:host *::before,
:host *::after {
  box-sizing: border-box;
  border-width: 0;
  border-style: solid;
  border-color: #e5e7eb;
}

.chat__content {
  flex-grow: 1;
  padding: 24px 24px 72px 24px;
  overflow: auto;
  scrollbar-width: none;
  border-top: 1px solid #E5E7EB;
}

.message {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  text-align: start;
  padding: 16px;
  margin-bottom: 24px;
  line-height: 20px;
  font-size: 14px;
  font-weight: 400;
}

.message p {
  white-space: pre-wrap;
}

.message--receiver {
  align-self: flex-end;
  border-radius: 24px 0 24px 24px;
  background: #003087;
  color: var(--color-white);
}

.message--sender {
  align-self: flex-start;
  border-radius: 0 24px 24px 24px;
  background: #f3f4f6;
  color: var(--color-dark);
}

.chat__footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: transparent;
  backdrop-filter: blur(2px);
}

.chat__footer-form {
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.Chat__footer-input {
  background: white;
  display: flex;
  align-items: center;
  text-align: start;
  outline: none;
  color: var(--color-dark);
  border: 2px solid #b0c1da;
  -ms-overflow-style: none;
  scrollbar-width: none;
  padding: 14px 48px 10px 20px;
  margin: 0;
  margin-top: 2px;
  margin-bottom: 8px;
  transition-duration: 0.15s;
}

.Chat__footer-input:focus,
.Chat__footer-input:hover {
  outline: none;
  border: 2px solid #1677ff;
  box-shadow: 0px 0px 3px #1677ff;
  transition-duration: 0.15s;
}

.open-button {
  position: fixed;
  bottom: 40px;
  right: 40px;
}



